#quiz {
    max-width: 650px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
    background-color: #E7F2F8;
    border-radius: 30px;
  }
  
  #questions {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#3D5B59;
  }
  
  #choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  label {
    margin: 10px;
  }
  
  #submit {
    margin-top: 20px;
    background-color: #0E86D4;
    color: white;
  }
  
  #result {
    font-size: 20px;
    margin-top: 20px;
    display: none;
  }
  #reload {
    margin-top: 20px;
    background-color: #B5E5CF;

  }
  h1{
    text-align: center;
  }
  